<div class="hero w-100 py-5">
  <div class="container text-center">
    <h1 class="fw-bold text-light mb-4 fade-slide-up custom-heading">Shimaa Adel</h1>

    <h2 class="fw-bold fade-slide-up delay-1" style="color: #DD7BD6; font-size: 1.75rem;">
      Junior Front End Developer
    </h2>

    <p class="text-light mx-auto my-5 fade-slide-up delay-2" style="font-size: 1.2rem; max-width: 700px;">
      Angular Developer passionate about building dynamic, scalable, and user-friendly web applications, with a focus
      on clean code, performance, and modern design practices.
    </p>

    <div class="row justify-content-center gy-3 zoom-in delay-4">
      <div class="col-6 col-md-3">
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=shyma0448@gmail.com" target="_blank"
          class="btn custom-btn w-100 d-flex align-items-center justify-content-center gap-2">
          <i class="bi bi-envelope"></i> Email
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a href="tel:01098431544"
          class="btn custom-btn w-100 d-flex align-items-center justify-content-center gap-2">
          <i class="bi bi-telephone"></i> Call
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a href="https://github.com/shimaaadel0448-123" target="_blank"
          class="btn custom-btn w-100 d-flex align-items-center justify-content-center gap-2">
          <i class="bi bi-github"></i> Github
        </a>
      </div>
      <div class="col-6 col-md-3">
        <a href="https://www.linkedin.com/in/shimaa-adel-328bb51bb/" target="_blank"
          class="btn custom-btn w-100 d-flex align-items-center justify-content-center gap-2">
          <i class="bi bi-linkedin"></i> LinkedIn
        </a>
      </div>
    </div>

    <div class="mt-5 fade-slide-up delay-3">
      <i class="bi bi-chevron-double-down arrow-down text-light fs-3"></i>
    </div>
  </div>
</div>
