/* الخلفية */
.contact-section {
  background: linear-gradient(135deg, #4F2062, #501C7D, #4C1B78);
  min-height: 100vh;
}

/* الكروت */
.contact-card {
  background: #fff;
  border: none;
  padding: 1rem 1.2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* أيقونة */
.icon-box {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #fff;
  background: linear-gradient(to right, #9732E4, #D22885);
}

/* زرار */
.btn-gradient {
  background: linear-gradient(to right, #9732E4, #D22885);
  padding: 0.8rem;
  border-radius: 0.6rem;
  transition: 0.3s;
}

.btn-gradient:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

/* Social Icons */
.social-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(to right, #9732E4, #D22885);
  color: #fff;
  font-size: 1.2rem;
  transition: 0.3s;
  text-decoration: none;
}

.social-icon:hover {
  transform: scale(1.1);
}
.header {
  position: relative;
}
.header::after {
  content: '';
  display: block;
  margin: auto;
  max-width: 100px;
  height: 3px;
  background: linear-gradient(to right, #9732E4, #D22885);
  margin-top: 10px;
}
