<div class="nav" style="background-color: #ECE9F0;">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" style="
            font-weight: bolder;
            font-size: 24px;
            background: linear-gradient(to right, #9732E4, #D22885);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;" href="#">
          Shimaa Adel
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex ms-auto" role="search">
            <ul class="navbar-nav mx-2 mb-2 mb-lg-0 " style="font-size: 16px; font-weight: 500;">
              <li class="nav-item mx-2 ">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link active" aria-current="page" href="#">About</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link active" aria-current="page" href="#">Skills</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link active" aria-current="page" href="#">Projects</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link active" aria-current="page" href="#">Education</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link active" aria-current="page" href="#">Contact</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </nav>
  </div>
</div>
